<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">


    <insert id="insertBatch">
        insert into
        sky_take_out.dish_flavor
        (dish_id, name, value)
        values
        <foreach collection="flavors" separator="," item="df">
            (#{df.dishId},#{df.name},#{df.value})
        </foreach>
    </insert>
    <update id="update">
        update sky_take_out.dish_flavor
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="value!=null">
                value = #{value},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from sky_take_out.dish_flavor
        where dish_id in
        <foreach collection="DishIds" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>
