<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">

    <insert id="insertShoppingCart">
        insert into sky_take_out.shopping_cart(name, image, user_id, dish_id, setmeal_id, dish_flavor,number, amount, create_time) values
        (#{name},#{image},#{userId},#{dishId},#{setmealId},#{dishFlavor},#{number},#{amount},#{createTime})
    </insert>
    <update id="update">
        update sky_take_out.shopping_cart
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="setmealId !=  null">
                setmeal_id = #{setmealId},
            </if>
            <if test="dishId != null">
                dish_id = #{dishId},
            </if>
            <if test="dishFlavor!=null">
                dish_flavor = #{dishFlavor},
            </if>
            <if test="number!=null">
                number=#{number},
            </if>
            <if test="amount!=null">
                amount = #{amount},
            </if>
            <if test="createTime!=null">
                create_time = #{createTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getByUserId" resultType="com.sky.entity.ShoppingCart">
        select * from sky_take_out.shopping_cart
        where user_id = #{userId}
    </select>

</mapper>
